<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 hours">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d %t %p %-17c{2} %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>